___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [6]:
1 + 1

2

In [7]:
1 * 3

3

In [8]:
1 / 2

0.5

** is raised to that power - thus this is 2 to the power of 4

In [9]:
2 ** 4

16

% is used as "mod" or "modulus" - shows what remainders after division

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [12]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [13]:
# Can not start with number or special characters
name_of_var = 2

In [14]:
x = 2
y = 3

In [15]:
z = x + y

In [16]:
z

5

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [20]:
x = 'hello'

If you don't pass to the print() function - shows this way with quotes to show it's a string

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [3]:
num = 12
name = 'Sam'

Don't believe this is correct now - python 3.7 use f"ejowiefj" format

In [24]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [25]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

Updated way to run - tested 6/14/2023

In [4]:
print(f"My number is: {num}, and my name is {name}")

My number is: 12, and my name is Sam

To grab index of string

In [5]:
s = 'abcdefghijkl'

In [6]:
s[2]

'c'

To grab slice - up to but not including number

In [7]:
s[:3]

'abc'

slice the other way around - from index and beyond

In [8]:
s[1:]

'bcdefghijkl'

so to grab a section - from index to end index

In [9]:
s[2:5]

'cde'

### Lists

In [26]:
[1,2,3]

[1, 2, 3]

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [28]:
my_list = ['a','b','c']

In [29]:
my_list.append('d')

In [30]:
my_list

['a', 'b', 'c', 'd']

Note indexing is same as for string explained above

In [31]:
my_list[0]

'a'

In [32]:
my_list[1]

'b'

In [33]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[:1]

['a']

reassign elements in list using index of element

In [35]:
my_list[0] = 'NEW'

In [98]:
my_list

['NEW', 'b', 'c', 'd']

nesting lists

In [99]:
nest = [1,2,3,[4,5,['target']]]

accesses nested list since that is what at index 3

In [100]:
nest[3]

[4, 5, ['target']]

to access elements within that nested list

In [101]:
nest[3][2]

['target']

and further into nested list

In [102]:
nest[3][2][0]

'target'

### Dictionaries

In [37]:
d = {'key1':'item1','key2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

access values using keys not index

In [39]:
d['key1']

'item1'

can even store lists as values

In [10]:
d = {'k1':[1,2,3]}

to access values, use key

In [11]:
d['k1']

[1, 2, 3]

then can access list using indexing with key noted first

In [12]:
d['k1'][1]

2

or can assign list to variable

In [13]:
my_list = d['k1']

In [15]:
my_list

[1, 2, 3]

In [14]:
my_list[1]

2

nested dictionaries

In [16]:
d = {'k1':{'innerkey':[1,2,3]}}

In [17]:
d['k1']

{'innerkey': [1, 2, 3]}

In [18]:
d['k1']['innerkey']

[1, 2, 3]

In [19]:
d['k1']['innerkey'][1]

2

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

In [42]:
t = (1,2,3)

In [43]:
t[0]

1

tuples are immutable and do not support item reassignment - cannot reassign like you would a list

meaning you want to use tuple when you don't want a user to be able to change what's inside

In [44]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

sets = collections of unique elements

In [45]:
{1,2,3}

{1, 2, 3}

So will reduce duplicates down to unique elements

In [22]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

can use set as function to grab unique elements for you

In [20]:
set([1,1,1,2,2,3,3,3,3,4,4,5,5,5,5,5,6])

{1, 2, 3, 4, 5, 6}

to add, use add() instead of append

In [23]:
s = {1,2,3}

In [24]:
s.add(5)

In [25]:
s

{1, 2, 3, 5}

if you try to add a duplicate you won't get an error but your set will remain unchanged

In [26]:
s.add(1)

In [27]:
s

{1, 2, 3, 5}

## Comparison Operators

Comparison operators return boolean values

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

to check for equality, use ==     using only = will make python think it's variable assignment

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

to check for inequality

In [28]:
1 != 3

True

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [56]:
if 1 < 2:
    print('Yep!')

Yep!

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [58]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [60]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

keep in mind if using multiple elif statements, will stop at first one true, so:

In [29]:
if 1==2:
    print('first')
elif 4==4:
    print('second')
elif 3==3:
    print('middle')
else:
    print('last')

second

## for Loops

In [61]:
seq = [1,2,3,4,5]

Use for loop to perform action for each element in sequence

In [62]:
for item in seq:
    print(item)

1
2
3
4
5

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [64]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

Use while loop to perform action until a certain condition is met

also note that format has been replaced by f"" notation

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [66]:
range(5)

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

range is generator - if you want it as a list, you'll need to assign like so

In [68]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [31]:
x = [1,2,3,4]

list comprehension is just an easier way to perform some action with an already existing list, to produce another list as output

Here is using for loop to iterate through list and perform action

In [70]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

to instead use list comprehension - put inside brackets - don't have to instantiate empty list first

In [71]:
[item**2 for item in x]

[1, 4, 9, 16]

to do it all in one motion:

In [33]:
out = [item**2 for item in x]

In [34]:
out

[1, 4, 9, 16]

## functions

using = in parameters sets default value for parameter

""" notation is how to add in string of multiple lines as a documentation string

NOTE if you want to know what function docstring is - in jupyter - type function name without (), then shift + tab for description from your docstring

You will get signature call (what function expects to receive) then your docstring

This can be used with pre-existing functions as well for a quick reference to the function usage

In [72]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

if you don't use () - you will not call function - you will just ask python what is this object

In [73]:
my_func

to call/execute function

In [74]:
my_func()

default

In [75]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

using return to assign a value

In [77]:
def square(x):
    return x**2

In [78]:
out = square(2)

In [79]:
print(out)

4

## lambda expressions

In [80]:
def times2(var):
    return var*2

In [81]:
times2(2)

4

In [82]:
lambda var: var*2

## map and filter

In [83]:
seq = [1,2,3,4,5]

use map to perform a function for each element in a list

map(function, seq)

if you don't create new list, will just return object

In [84]:
map(times2,seq)

to assign results to a list so they're stored

In [85]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

generally using map because you don't want to write out a whole function - you want to perform a simple expression

so instead you use lambda

use lambda """what you want to pass in> : <what you want to return out""" , seq

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

use filter in a similar way

here, lambda expression takes condition and returns True or False for element in iterable object (so a list) and returns when True

In [87]:
filter(lambda item: item%2 == 0,seq)

cast to list to see actual output

For example to see even numbers in list

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [111]:
st = 'hello my name is Sam'

so if you type "st" then hit tab in jupyter, you will get a list of all methods you can call on string object

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

splits on whitespace by default

In [103]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [36]:
lst = [1,2,3]

pop will "pop" the last item out of the list and return it - so remove from list and return

In [37]:
lst.pop()

3

In [38]:
lst

[1, 2]

can also use pop with index

In [39]:
first = lst.pop(0)

In [40]:
lst

[2]

In [41]:
first

1

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True

Tuple unpacking

In [42]:
x = [(1,2),(3,4),(5,6)]

In [43]:
x[0]

(1, 2)

normal iterating through items

In [44]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

to instead unpack within for loop

In [45]:
for (a,b) in x:
    print(a)

1
3
5

# Great Job!